---
layout: default
heading: ImageXD
subheading: Image processing across domains
---

{% include header.html %}

<div class="container">
  <h3>
  <p>
  Incredible advances are being made in image processing techniques and tools, but the scientists who use them typically don’t have the opportunity to communicate with scientists who work on similar problems in different domains.
  </p>
  <p>
  This workshop aims to address that. At ImageXD we will gather researchers from a variety of fields who work with images as a primary source of data. Invited speakers will discuss their image processing pipelines, identifying common principles, algorithms, and tools.  Throughout, we aim learn from one another while strengthening ties across disciplinary boundaries.
  </p>
  <p>
  Due to limited space, this event is by invitation only. For those unable to participate, we plan to publish videos and notes from the event on the BIDS website.
</p>
  <p> Location: <a href="https://bids.berkeley.edu/about/directions-and-travel">The Berkeley Institute for Data Science </a></p>
  </h3>


  {% include features.html %}
  {% include footer.html %}
</div>
