<div id="footer" class="row" style="center">
<div>

<h3><p> A project of the <a href="http://msdse.org/">Moore-Sloan Data Science Environments</p></h3>
		<a href="http://bids.berkeley.edu"><img src="images/bids-logo-200x200.png" height="150"  />	</a>
		  <a href="http://escience.washington.edu/"><img src="images/eScience_Logo_RGB_BLKBckgd.png" height="150"  />	</a>
		  <a href="http://escience.washington.edu/"><img src="images/nyu-cds-logo.png" height="150"  />	</a>
			<a href="http://www.camera.lbl.gov/"><img src="images/camera-logo.png" height="150"/></a>
	</div>

</div><div id="copyright" class="container">
<p>&copy; Ariel Rokem, Kevin Koy, Stefan van der Walt, Dani Ushizima, The University of Washington eScience Institute and the Berkeley Institute for Data Science.</p>
</div>
